*box-sizing: border-box;

＊{
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    }

body {
    margin:0;
   
}

.rickbye{
    background-color: firebrick;
}

 .rickbye h1 {
    color:black;
    font-family: fantasy;
    border-bottom: 5px solid black;
}

.rickbye p{
    color:white;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.rickmemory{
    background-color: blue;
}

.rickmemory h1{
    color:white;
    font-family: fantasy;
    border-bottom: 5px solid white;
}

.rickmemory p{
    color:black;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}


.owarini{
    background-color: firebrick;
}

.owarini h1{
color:black;
font-family: fantasy;
border-bottom: 5px solid black;
}

.owarini p{
color:white;
font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}